
BankaManagementSystem/.vs/BankaManagementSystem/v17/.suo
.vs/slnx.sqlite
BankaManagementSystem/.vs/BankaManagementSystem/v17/.suo
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/BankManagementSystem/v17/workspaceFileList.bin
.vs/BankManagementSystem/v17/.suo
.vs/BankManagementSystem/v17/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
